{% extends 'home/base.html' %}

{% block extra_css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'home/css/comparison.css' %}"/>
{% endblock %}



{% block body %}
    <div class="container-fluid pt-5">
        <h4 class="text-capitalize ml-5">product comparison</h4>


        <!--    Table   -->
        <div class="tbl-margin">
            <table class="table">
                {% comment %}<caption class="mt-3">*As the basis of review(s) and features comparison the <a href="{% url 'home:redirect_to' previtem.id %}">{{ previtem.p_name }}</a> is suggested
                    <a href="{% url 'home:home' %}">smartphone</a> to buy.
                </caption>{% endcomment %}

                {% if flag %}
                    <caption class="mt-3">*As the basis of review(s) and features comparison the <a href="{% url 'home:redirect_to' item.id %}">{{ item.p_name }}</a> is suggested
                        <a href="{% url 'home:home' %}">smartphone</a> to buy.
                    </caption>
                {% else %}
                    <caption class="mt-3">*As the basis of review(s) and features comparison the <a href="{% url 'home:redirect_to' previtem.id %}">{{ previtem.p_name }}</a> is suggested
                        <a href="{% url 'home:home' %}">smartphone</a> to buy.
                    </caption>
                {% endif %}


                <tbody class="text-center">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <div class="media px-5">
                            <img src="{{ previtem.p_image.url }}" class="align-self-center mr-3" style="width:60px">
                            <div class="media-body">
                                <h5>{{ previtem.p_name }}</h5>
                                <p style="color: #6c757d">Starting from <a style="color: #005bd3"> ${{ previtem.price }} </a> </p>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="media px-5">
                            <img src="{{ item.p_image.url }}" class="align-self-center mr-3" style="width:60px">
                            <div class="media-body">
                                <h4>{{ item.p_name }}</h4>
                                <p style="color: #6c757d">Starting from <a style="color: #005bd3"> ${{ item.price }} </a> </p>
                            </div>
                        </div>
                    </th>
                </tr>

                {% comment %}<tr>
                    <th scope="row" class="alert-info text-dark"> <Reviews> PRODUCT REVIEW </Reviews></th>
                    <td class="alert-info">
                        <fieldset class="rating">
                            <input type="radio" id="star3" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star5" name="rating" value="3" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star6" name="rating" value="3" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="2 and a half" /><label class="half" for="star4half" title="Pretty good - 2.5 stars"></label>
                        </fieldset>
                    </td>
                    <td class="alert-info">
                        <fieldset class="rating">
                            <input type="radio" id="star3.1" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4.1" name="rating" value="4" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star5.1" name="rating" value="3" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half.1" name="rating" value="2 and a half" /><label class="half" for="star4half" title="Pretty good - 2.5 stars"></label>
                        </fieldset>
                    </td>
                </tr>{% endcomment %}

                <tr>
                    <th scope="row">Disp Resolution</th>
                    <td class="table-secondary">{{ previtem.disp_resolution }}</td>
                    <td class="table-active">{{ item.disp_resolution }}</td>
                </tr>
                <tr>
                    <th scope="row">Dimensions</th>
                    <td class="table-secondary">{{ previtem.dimensions }}</td>
                    <td class="table-active">{{ item.dimensions }}</td>
                </tr>
                <tr>
                    <th scope="row">CPU</th>
                    <td class="table-secondary">{{ previtem.cpu }}</td>
                    <td class="table-active">{{ item.cpu }}</td>
                </tr>
                <tr>
                    <th scope="row" >GPU</th>
                    <td class="table-secondary">{{ previtem.gpu }}</td>
                    <td class="table-active">{{ item.gpu }}</td>
                </tr>
                <tr>
                    <th scope="row">Display Type</th>
                    <td class="table-secondary">{{ previtem.disp_type }}</td>
                    <td class="table-active">{{ item.disp_type }}</td>
                </tr>
                <tr>
                    <th scope="row">Display Size</th>
                    <td class="table-secondary">{{ previtem.disp_size }}</td>
                    <td class="table-active">{{ item.disp_size }}</td>
                </tr>
                <tr>
                    <th scope="row">Os</th>
                    <td class="table-secondary">{{ previtem.os }}</td>
                    <td class="table-active">{{ item.os }}</td>
                </tr>
                <tr>
                    <th scope="row">Chipset</th>
                    <td class="table-secondary">{{ previtem.chipset }}</td>
                    <td class="table-active">{{ item.chipset }}</td>
                </tr>
                <tr>
                    <th scope="row">Sim</th>
                    <td class="table-secondary">{{ previtem.sim }}</td>
                    <td class="table-active">{{ item.sim }}</td>
                </tr>
                <tr>
                    <th scope="row">Battery</th>
                    <td class="table-secondary">{{ previtem.battery }}</td>
                    <td class="table-active">{{ item.battery }}</td>
                </tr>
                <tr>
                    <th scope="row">Weight</th>
                    <td class="table-secondary">{{ previtem.weight }}</td>
                    <td class="table-active">{{ item.weight }}</td>
                </tr>
                <tr>
                    <th scope="row">Internal Memory</th>
                    <td class="table-secondary">{{ previtem.internal_memory }}</td>
                    <td class="table-active">{{ item.internal_memory }}</td>
                </tr>

                </tbody>
            </table>
        </div>

        {% comment %}<div class="mx-auto text-center">
            <a role="button" href="redirectTo.html" class="btn btn-goto-shop my-5 font-weight-bold" aria-pressed="true">Go to shop</a>
        </div>{% endcomment %}

    </div>

    <footer class="footer-bg pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Shopping</strong>
                    </h6>

                    <ul class="list-inline">
                        <li><a href="#">All Manufactures</a></li>

                        <li><a href="#">All Shops</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Travel</strong>
                    </h6>

                    <ul class="list-inline">
                        <li><a href="#">Hotel & Resorts</a></li>

                        <li><a href="#">Deal comparison</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Restaurant</strong>
                    </h6>

                    <ul class="list-inline">
                        <li><a href="#">Restaurant</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Company</strong>
                    </h6>

                    <ul class="list-inline">
                        <li><a href="#">About quality compare</a></li>

                        <li><a href="#">Press</a></li>

                        <li><a href="#">Jobs</a></li>

                        <li><a href="#">Partners</a></li>

                        <li><a href="#">Register a shop</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a href="#" class=" mx-1">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class=" mx-1">
                        <i class="fab fa-twitter fa-2x"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class=" mx-1">
                        <i class="fab fa-google-plus fa-2x"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class=" mx-1">
                        <i class="fab fa-linkedin fa-2x"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class=" mx-1">
                        <i class="fab fa-dribbble fa-2x"> </i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="py-3 text-center">
            © 2018 Copyright:
            <a href="#"> gomax.com </a>
        </div>
    </footer>
{% endblock %}
