
/*********      Footer      ***********/

.footer-bg{
    position: relative;
    background-color: #243a51;
    color: white;
}

.footer-bg h6{
    margin-bottom: 15px;
}

.footer-bg a{
    color: white;
    font-size: 15px;
}

.btn-floating {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}